<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZhKmERM5Fikm4AJt0k1_BXvFaHeNAeYw</string>
	<key>GCM_SENDER_ID</key>
	<string>333166611938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tinhkhoedep.ezs</string>
	<key>PROJECT_ID</key>
	<string>tinh-duong-sinh</string>
	<key>STORAGE_BUCKET</key>
	<string>tinh-duong-sinh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333166611938:ios:c1f1c66908395a29683dbb</string>
	<key>DATABASE_URL</key>
	<string>https://tinh-duong-sinh-default-rtdb.firebaseio.com</string>
</dict>
</plist>